@font-face {
  font-family: "October crow";
  src: url("https://assets.website-files.com/60eb6a54b792b76e754d6ae5/60ec7019347906b8d044f7cf_October%20Crow.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reset some default styles to ensure consistency across browsers */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  color: white;
}

/* Set a background color for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000000;
}

/* Style the header */
header {
  background-color: #ffffff00;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
    text-align: center;
    margin-bottom: 10px;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
}

.schedule-image {
  width: 100%;
}

/* Style the navigation bar */
nav {
  background-color: #282828;
  color: #fff;
  padding: 5px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

nav ul li a {
  color: #e94545;
  text-decoration: none;
  font-family: "October crow";
  font-size: 30px;
  text-shadow: 2px 2px 2px #000000;
}

nav ul li a:hover {
  text-decoration: none;
  color: #ffb2b2;
  filter: drop-shadow(0px 16px 10px rgba(225, 0, 0, 0.6)); 
}

.tickets-header-button {
  color: rgb(177, 248, 248);
}

/* Style the main content area */
main {
  padding: 20px;
}

.container {
  margin-bottom: 20px;
  background-color: #000000b0;
  padding: 10px;
  border-radius: 5px;
}

.container a {
  color: #ffbdbd;
}

.button-group {
  text-align: center;
  margin-bottom: 20px;
}

.button-group a {
  padding: 10px;
}

.button-group a:hover {
  text-decoration: none;
  filter: drop-shadow(0px 16px 10px rgba(225, 0, 0, 0.6)); 
}

.content {
  font-size: 1.2em;
}

.content p {
  margin-bottom: 15px;
}

.content h1 {
  color: #e94545;
  text-align: center;
  font-family: "October crow";
  margin-bottom: 15px;
}

.content-highlight-text {
  color: #ff3932;
}

.content-image {
  text-align: center;
}

.content-image img {
  width: 50%;
  max-width: 500px;
}

.content h2 {
  color: #e94545;
  text-align: center;
  font-family: "October crow";
  margin-bottom: 15px;
}

.question {
  display: block;
  color: rgb(255, 142, 142)
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: small;
  margin-bottom: 50px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

footer a:hover {
  text-decoration: underline;
}

iframe {
  width: 100%;
  height: 100vh;
  border: none;
}

.confirmation h1 {
  text-align: center;
  font-family: "October crow";
  color: yellow;
  text-shadow: 2px 2px 2px #fa0000;
  margin-bottom: 20px;
}

.confirmation b {
  color: #ff9692;
}

.confirmation p {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}

